.login{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50vw;
    height: 32vw;
    padding: 1vw;
    background-color: #ccc;
    margin: auto;
    border-radius: 2vw;
    display: none;

}
.user_login_face_border {
    width: 10vw;
    height: 10vw;
    overflow: hidden;
    border-radius: 50%;
    background: #fff;
    border: solid 2px #f2f2f2;
}
.user_login_face {
    width: 120%;
    height: 120%;
    margin: 10px 10px 0 -10px;
}
.login_user_name,.login_user_pass{
    width: 48vw;
    height: 3vw;
    line-height: 3vw;
    margin: 1vw auto;
    padding: 1vw;
    border-radius: 1vw;

}
.btn_login{
    width: 50vw;
    height: 6vw;
    margin-top: 1vw;
    line-height: 6vw;
    background: yellowgreen;
    color: #000;
    font-size: 3vw;
    border-radius: 1vw;
    cursor: pointer;
}
.login_msg {
    width: 100vw;
    text-align: right;
    color: rgba(255,255,255,0.6);
    position: fixed;
    right: 1vw;
    top: 1vw;
}